/* Trucos para uniformidad en textos entre navegador   */
:root{
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;
}
html{
    font-size: 62.5%;
}
body {
    font-size: 16px;
    margin: 0;
}

.my-title{
    font-size: 3.8rem;
    text-align: center;
}

.my-title span{
    font-size: 2rem;
    color: #f9a826;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal{
    background-color: var(--secundario);
    display: flex;
    justify-content: space-around;
    font-weight: bold; /* Negrita */
    font-size: 2rem;
}

/* Efecto hover en los enlaces de navegación principal */
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion-principal a{
    text-decoration: none;
    color: var(--blanco);
    padding: 1rem;
    background-color: var(--secundario);
    
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.hero {
    background-image: url(https://i.pinimg.com/736x/02/5f/66/025f66da73a40e1af2224d7d579152a3.jpg); /* ../ regresa un nivel porque IMG está afuera de CSS */
    background-repeat: no-repeat; /* evita que la imagen se repita si es pequeña */
    background-size: cover; /* cubre todo el ancho del elemento */
    height: 450px; /* alto del banner */
    position: relative; /* el padre siempre debe ser relative */
}

.contenido-hero {
    position: absolute; /* el hijo siempre debe ser absolute */
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    /* alinear vertical y horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
}